# BEGIN Foundry-managed application connection variables
{% for name, value in infrastructure_services_dokploy_environment_variables | dictsort %}
{{ name }}={{ value | to_json }}
{% endfor %}
# END Foundry-managed application connection variables
