# Managed by Foundry. Manual changes will be overwritten.
[sshd]
enabled = {{ security_resolved.fail2ban.ssh.enabled | ternary('true', 'false') }}
port = {{ security_ssh_ports | join(',') }}
backend = {{ security_resolved.fail2ban.backend }}
banaction = {{ security_resolved.fail2ban.banaction }}
maxretry = {{ security_resolved.fail2ban.ssh.maxretry }}
findtime = {{ security_resolved.fail2ban.ssh.findtime }}
bantime = {{ security_resolved.fail2ban.ssh.bantime }}
ignoreip = {{ security_fail2ban_effective_ignore | join(' ') }}
